<!-- Main template with sidebar -->
<!--<app-toolbar></app-toolbar> -->
<app-toolbar></app-toolbar>
<mat-drawer-container class="main-container">
    <mat-drawer #drawer mode="side" opened class="sidebar dark-theme">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content class="contents">
        <button type="button" mat-button (click)="drawer.toggle()"></button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>