<div class="confirmation-modal">
    <span class="mat-title capitalize">{{ data.title }}
    </span>

    <div class="confirmation-modal-body">
        <ng-template [cdkPortalOutlet]="portal"></ng-template>
    </div>
    <div class="modal-controls" *ngIf="data.buttons">
        <button *ngIf = 'data.buttons.no' mat-raised-button (click)="action('cancel')" data-access-id='confirm-btn-cancel' id='confirm-btn-cancel'
        i18n="@@confirmation-modal.confirm-btn-cancel">{{data.buttons.no}}</button>
        <button *ngIf = 'data.buttons.yes' mat-button mat-raised-button color="primary" mat-dialog-close (click)="action('confirm')"
        data-access-id='confirm-btn-confirm' id='confirm-btn-confirm'
        i18n="@@confirmation-modal.confirm-btn-confirm"> {{data.buttons.yes}}  </button>
        <button *ngIf = 'data.buttons.print' mat-button mat-raised-button color="primary" mat-dialog-close (click)="action('print')"
        data-access-id='confirm-btn-confirm' id='confirm-btn-confirm'
        i18n="@@confirmation-modal.confirm-btn-confirm"> Print </button>
    </div>
</div>