<div class="main-table">
    <div class="main-table__header">
      <div class="main-table__controls">
        <ng-content select=".controls"></ng-content>
      </div>
    </div>
  
    <div class="main-table__container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->      
      <ng-container *ngFor="let col of cols" [matColumnDef]="col.name">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>{{ col.label }}</th>
        <td mat-cell *matCellDef="let row">
          <span>
            {{ row[col.name]}}
          </span>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <div class="action-controls">
            <a (click)="onClick('edit', row)" href="javascript:void(0)" class="action-link">
              <span class="material-icons"> mode_edit  </span>
            </a>
            <a (click)="onClick('delete', row)" href="javascript:void(0)" class="action-link tooltip">
              <span class="material-icons"> delete </span>
            </a>
          </div>
        </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
  </div>
    
    <!-- <button (click)="submit()">Submit</button> -->
  </div>
  