<div class = "boolean-question">
    <button mat-raised-button color = 'primary' type = 'button' (click) = 'closeButton(1)'> {{data.yes}} </button>
    <button mat-raised-button color = 'secondary' type = 'button' (click) = 'closeButton(2)'> {{data.no}} </button>
</div>