div.boolean-question {
    justify-content: space-between !important;
    display: flex !important;
    flex: 1 !important;
    button:nth-child(1) {
        margin-left: 0 !important;
    }
    button:nth-child(2) {
        margin-left: 16px !important;
    }
}