@import "../../../../assets/styles/variables";

div.fields-group {
    border: solid 3px $like-view-color;
    border-radius: .75rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    label {
        position: absolute;
        margin-left: 1rem;
        z-index: 1;
        padding: 1px 13px 1px 10px;
        width: 4rem;
        /* padding-bottom: 4rem; */
        padding: 1px 13px;
        margin-top: -26px;
        background-color: #fff;
    }
    
}