<div class = "content">
<mat-card class="product-detail-card">
    <mat-card-header>
        <mat-card-title>{{type.charAt(0).toUpperCase() + type.slice(1)}} Farm</mat-card-title>
    </mat-card-header>
    <div class="product-detail-container">
      
      <form [formGroup]="form" (submit)="save( (id) ? true: false  )">
        <mat-form-field appearance="fill">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        
        <div class = "fields-group">
          <label> Location </label>
          <mat-form-field appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName="longitude">
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Latitude</mat-label>
              <input matInput formControlName="latitude">
              <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill"> 
            <mat-label>Region</mat-label>
            <mat-select formControlName="region" (selectionChange) = "getLoc('province')">
              <mat-option *ngFor = "let item of location.regions" [value]="item"> {{item.regDesc}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Province</mat-label>
            <mat-select formControlName="province" (selectionChange) = "getLoc('city')">
              <mat-option *ngFor = "let item of location.provinces" [value]="item"> {{item.provDesc}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>City/Municipality</mat-label>
            <mat-select formControlName="cityMunicipality" (selectionChange) = "getLoc('bgy')">
              <mat-option *ngFor = "let item of location.cities" [value]="item"> {{item.citymunDesc}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Bgy</mat-label>
            <mat-select formControlName="baranggay">
              <mat-option *ngFor = "let item of location.barangays" [value]="item"> {{item.brgyDesc}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

        </div>

        <div class = "fields-group">
          <mat-form-field appearance="fill">
            <mat-label>Farm Size</mat-label>
            <input type = 'number' min = "1" matInput formControlName="farmSize">
            <span matSuffix>ha</span>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>Land Tenure</mat-label>
            <mat-select formControlName="landTenure">
              <mat-option *ngFor = "let item of d.landTenure" [value]="item.value"> {{item.label}} </mat-option>
            </mat-select>
          </mat-form-field>
        
          <mat-form-field appearance="fill">
            <mat-label>Cultivation Methods</mat-label>
            <mat-select formControlName="cultivationMethods">
              <mat-option *ngFor = "let item of d.cultivationMethods" [value]="item.value"> {{item.label}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Crops Grown</mat-label>
            <mat-select formControlName="cropsGrown" multiple>
              <mat-option *ngFor="let item of d.cropsGrown" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Livestrock</mat-label>
            <mat-select formControlName="livestock" multiple>
              <mat-option *ngFor="let item of d.livestock" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Irrigation</mat-label>
            <mat-select formControlName="irrigation">
              <mat-option *ngFor = "let item of d.irrigation" [value]="item.value"> {{item.label}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Soil Classification</mat-label>
            <mat-select formControlName="soilClassification">
              <mat-option *ngFor = "let item of d.soilClassification" [value]="item.value"> {{item.label}} </mat-option>
            </mat-select>
            <!--<span matPrefix>PHP &nbsp</span> -->
          </mat-form-field>
        </div>

        <div class = "fields-group">

          <mat-radio-group aria-label="Select an option" formControlName="registrySystemForBasicSectorsInAgriculture">
            <mat-label>Registered with DA's RSBSA</mat-label>
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group aria-label="Select an option" formControlName="cropInsurance">
            <mat-label>With Crop Insurance</mat-label>
            <mat-radio-button value="1">Yes</mat-radio-button>
            <mat-radio-button value="0">No</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="fill">
            <mat-label>Training Certifications</mat-label>
            <input matInput formControlName="trainingCertifications">
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Farm/Product Certification</mat-label>
            <mat-select formControlName="certifications" multiple>
              <mat-option *ngFor="let item of d.certifications" [value]="item.value">{{item.label}}</mat-option>
            </mat-select>
          </mat-form-field>

          <input type="file" id="uploadFile" name = "img" id = "uploadFile" formControlName="img" [formControl]="img" (change)="uploadFileEvt($event)" formControlName="img" />

          <mat-form-field appearance="fill">
            <mat-label>Link to virtual tour</mat-label>
            <input matInput formControlName="link" placeholder="Ex. http://example.com">
          </mat-form-field>

        </div>

        <div class="mat-dialog-actions">
          <button mat-raised-button color = 'primary' type = 'submit' *ngIf = 'id'> Update Project</button>
          <button mat-raised-button color = 'primary' type = 'submit' *ngIf = '!id'> Add Project </button>
        </div>
      </form>
    </div>
  </mat-card>
</div>