<mat-nav-list>
    <!--<div>
        <a mat-list-item (click) = 'goTo("#/dashboard")'>
            <span class="material-icons"> dashboard </span>
            Dashboard
        </a>
    </div>

    <div class="divider-title">Offers</div> -->
    <div>
        <a mat-list-item [routerLink]="'/project'">
            <span class="icons-farm">&nbsp;</span>
            Farms
        </a>
    </div>

    <!--<div class="divider-title">Person</div>
    <div>
        <a mat-list-item [routerLink]="'/users/index'">
            <span class="material-icons"> supervised_user_circle </span>
            System Users
        </a>
    </div>
-->
    
</mat-nav-list>