app-login {
    mat-card {
        //margin: 2em auto;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center;
        height: 100vh;
        width: 50vh;
        justify-content: center;
        padding: 0 !important;
        border-radius: 22px !important;
    }
    mat-form-field {
        display: block;
    }
    display: flex;
    align-items: flex-end;
    background-image: url("../../../assets/images/login2.jpg");
    background-repeat: no-repeat;
    background-size: 160vh 110vh;
    height: 100vh;
    flex-direction: row-reverse;
}
