<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Exam Entree</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form [formGroup]="form" class="example-form" (submit) = "login()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName = "username" required>
                    <mat-error *ngIf="form.controls['username'].invalid"> {{ getErrorMessage() }} </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <mat-card-actions>
                <button mat-raised-button type = "submit" color="primary"> Login </button>
                <button mat-raised-button type = "button" color="secondary" (click) = "register()"> Register </button>
            </mat-card-actions>
        </table>
        </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    
</mat-card>