<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Exam Entree</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="example-form" (submit) = "register()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" formControlName = "username">
                    <mat-error *ngIf="form.controls['username'].invalid"> {{ getErrorMessage() }} </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Display Name" formControlName = "displayname">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName = "email">
                    <mat-error>  password does not qualify </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" formControlName = "password">
                    <mat-error>  password does not qualify </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <mat-card-actions>
                <button mat-raised-button type = "submit" color="primary"> Register </button>
                <button mat-raised-button type = "button" color="secondary" (click) = "login()"> Back to login </button>
            </mat-card-actions>
        </table>
        </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    
</mat-card>