app-register {
    display: flex;
    justify-content: center;
    
    mat-card.register-card {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 55vh;
    }
}
