<mat-card class="product-detail-card">
    <mat-card-header>
        <mat-card-title>You have 300 sec to login</mat-card-title>
    </mat-card-header>
    <div class="product-detail-container">
        <form [formGroup]="form" class="example-form" (submit) = "login()">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="password" type = "password" formControlName = "password">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</mat-card>


<div class = "boolean-question">
    <button mat-raised-button color = 'primary' type = 'button' (click) = 'closeButton(1)'> {{data.yes}} </button>
    <button mat-raised-button color = 'secondary' type = 'button' (click) = 'closeButton(2)' *ngIf = "data.no"> {{data.no}} </button>
</div>