app-login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-card {
        box-shadow: none !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}