/*
 * Change something in here for global usage
 * WARNING !!
 *
 * Do not Change unless you are sure that the change is 
 * for all that uses class / element / id
 */
 @import "./variables";

 p {
     color: $sub-title;
 }

 a {
     cursor: pointer;
 }

.mat-radio-button {
    margin-left: .50rem !important;
}

.mat-radio-group {
    margin-right: 2.5rem !important;
}

 .hidden {
     display: none;
 }

 mat-card-title {
     span {
        font-weight: 700;
     }
 }
 
 mat-progress-bar {
     position: fixed !important;
     z-index: 3 !important;
 }

 .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
 }

 input.code {
     text-transform: uppercase;
 }

 mat-form-field {
    margin-right: 1rem;
    &.location {
        width: 30%;
    }
    &.note {
        width: 27rem;
    }
 }

 app-toolbar {
     span {
        vertical-align: text-top;
     }
     .toolbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .profile-link {
            padding-top: 2rem;
            font-size: 14px;
            cursor: pointer;
            .name {
                color: #9E9E9E;
                margin-right: 12px;
            }
            .pic {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: #BDBDBD;
                padding: 10px;
                color: #fff;
                font-weight: lighter;
            }
        }
     }
 }

 app-products-detail,
 app-services-detail {
     display: flex;
     align-items: center;
     margin-left: 1rem;
     .mat-form-field-wrapper {
        margin-right: 1rem;
     }
     mat-card div.mat-card-header-text{
         margin-left: 0px;
     }
     mat-card.product-detail-card {
        width: 60%;
        .textarea {
            width: 100%;
        }
     }
 }
 
 /* main windows */
 
 
 /*sub windows / components*/

 
 /*summary / list pages*/
 app-farm-index {
    div.right-side {
        width: 100%;
    }
 }

 .confirmation-modal-body {
     flex: 0;
 }

 
 
 /* Full detail */
 

 /* Global Edit form */


 /* User edit form */




/* MODAL  Styles */
app-seller-template-modal,
app-custom-regions-modal {
    form {
        mat-form-field, mat-list, mat-select {
            width: 100%;
        }
    }
    .action {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    
    .cancel {
        background: none;
        border: 0;
        box-shadow: 0;
        cursor: pointer;
        color: #9E9E9E;
    }
}



/* Create Form */
.icons-farm {
    background-image: url("../../assets/images/agriculture_white.svg");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    margin-right: .50rem;
}
 
 .content{
     flex:1;
     padding:20px 40px 20px 12px;
     overflow: auto; height: calc(95vh - 58px);
     margin-top: -20px;
     
     & > div.header-container div p {
        margin-top: 0px;
     }
 }
 
 .header-container {
     display: flex;
     align-items: center;
     div:nth-child(1) {
         font-size: 20px;
         color: $header-color;
         p {
            font-weight: bold;
         }

         .fas.fa-store,.fas.fa-user-circle,.fas.fa-wrench {
             opacity: 0.42;
         }
     }
     div:nth-child(2) {
         height: 40px;
         display: flex;
         flex-direction: row-reverse;
 
         input {
             border: none;
             padding-left: 10px;
             width: 328px;
             background: $select-trigger;
             border-radius: 4px;
         }
 
         .mat-icon {
             padding: 8px;
             align-self: center;
         }
 
         div {
             background: $select-trigger;
             border-radius: 4px;
             display: flex;
         }
     }
     > div {
         flex: 1;
     }
 
     div.searchbox {
         justify-content: right;
         flex-direction: row-reverse;
         input {
             border-radius: 4px 0px 0px 4px;
         }
         mat-icon {
             background: $select-trigger;
         }
     }
 
     .mat-icon {
         cursor: pointer;
     }
 }

 div.controls {
    button {
        margin-right: 0.5rem;
    }
 }

 .cc-management-div-title {
    color: $sub-title;
    font-weight: 500;
    margin: 1rem 0rem;
}

span.text-group__value {
    font-weight: bold;
    margin-left: 1rem;
}

div.stats {
    padding: 1rem;
    div.cc-management-group {
        display: flex; flex: 1; align-items: center; justify-content: center;
        padding: 0rem .75rem;
    }
    div.cc-management-group > .cc-management-div-title {
        text-transform: uppercase;
        margin-left: 1rem;
    }
    div.cc-management-group > mat-icon svg path{
        fill: $description;
    }
    mat-form-field {
        padding-right: 1rem;
    }
}

mat-toolbar.main-header {
    padding: 0 16px 0 0;
}

.bold {
    font-weight: bold;
}