/*
 * Change something in here for global usage
 * WARNING !!
 *
 * Do not Change unless you are sure that the change is 
 * for all that uses class / element / id
 */
 @import "./variables";

 table {
    width: 100%;
 }

td.mat-column-actions {
    padding-left: 1rem !important;
}

td.mat-cell {
    span {
        padding-right: 1rem;
    }
}

table {
    th {
        button.mat-sort-header-button {
            font-size: 1.25rem;
        }
    }
    td.mat-cell {
        span {
            font-size: 1rem;
        }
    }
    .td-service {
        background-color: $sidebar-text;
    }
    .td-warning {
        background-color: $back-yellow;
    }
    .td-danger {
        background-color: $back-color;
    }
}