
$accent-color: #E03322;
$mat-list-item-document: #E03322;

$sidebar-bg: #2196f3;
$sidebar-text: #EEEEEE;
$back-yellow: #e8ef9f;

$green-color: #679F38;
$like-view-color: #9E9E9E;
$sub-title: #00000099;
$paginator: #F0F0F0;
$select-trigger: #E7E7E7;

$header-color: #000000DE;
$mat-list-item-bg: #DEDEDE;
$mat-list-item-color:#00000099;
$color-grey-light:#00B0FF;
$color-grey-light-3: #00B0FF;
$active-bar-status: rgba(103, 159, 56, 0.54);
$active-status: #679F38;
$box-shadow-color: rgba(0,0,0,0.16);
$back-color: #EF5350;
$no-id: #BDBDBD;
$location: #558B2F;
$description: #616161;

$white: #FFFFFF;
$main-blue: #51A7DD;
$main-tab-space: 1rem;
$main-orange: #F57C01;
$main-red-light: #FFEBEE;
$main-red: #E43935;
$main-pink: #c2185b;
$main-violet: #7b1fa2;
$main-green: #7BB342;
$main-green-light: #F1F8E9;