<mat-toolbar class = 'main-header'>
    <div class="toolbar">
        <div class="logo">
            <h1>
                <img src="assets/images/company_logo.png" alt="Logo" width = '200' height = '100'>
                <span></span>
            </h1>
        </div>
        <div class="profile-link" (click)="settingmodal()">
            <span class="name"> Welcome </span>
            <span class="pic"> {{user}} </span>    
        </div>
    </div>
</mat-toolbar>