<div class = 'global-snack-bar-container'>
    <p [ngClass]="get_class_name()">
        <mat-icon *ngIf = 'get_class_name() === "success"'>done_outline</mat-icon>
        <mat-icon *ngIf = 'get_class_name() === "error"'>close</mat-icon>
        {{data.message}} 
    </p>
</div>