snack-bar-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff !important;// bypass default color
  padding: 15.3px 16px !important;// bypass default padding

  mat-icon {
    vertical-align: text-top !important;
    margin-right: 1rem;
  }

  .global-snack-bar-container {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: stretch;
    border-radius: 5px;
    p {
      font-size: 16px;
      color: #7BB342
    }
    p.error {
      color: #ce202a;
    }
  
  }
}
